  
  .community-image { background-image: url("../images/community.jpg"); height: 300px; background-repeat: no-repeat;}
  /* //////// ****** /////////////////////////// */
  /* // IN THE COMMUNITY // */
    .community-header {
    font-family: 'Raleway'; 
    font-size: 40px; 
    font-weight: 290;
    margin-bottom: -1px; 
    margin-top: 10px; 
    padding-top: 50px; 
    text-align: center;
    letter-spacing: .7rem;
    color: black;
  }
  
  .community-section .container {
      font-family: 'Raleway'; 
      height: 100%;
      /* margin-top: 20px;  */
      padding: 60px; 
      margin-bottom: 60px; 
      color: black;
      /* border: 1px solid rgb(184, 184, 184); */
      /* background-color: rgb(243, 243, 243); */
  }
  
  .community-subheader {
    font-family: 'Playfair Display', serif;
    font-weight: 450;
    font-size: 17.5px;
    text-align: justify;
    padding-bottom: 25px; 
  }

  .comm-logos {
     text-align: center; 
     margin-top: 5px;
     margin-bottom: 5px;
  }
  
  .all-comm-logos { 
      display: none; 
  }
  
  #phillies-section {
      padding-top: 20px; 
  }
  /* // END OF IN THE COMMUNITY // */
  /* //////// ****** /////////////////////////// */
  

/* //////// ****** /////////////////////////// */
/* // MEDIA QUERY IN THE COMMUNITY // */
  @media only screen and (max-width: 750px) {
    .community-header {
        margin-top: 50px;
        font-size: 30px;
        margin-bottom: 0px;
    }
    .comm-logos{
        display: none;
    }
    .all-comm-logos {
        visibility: visible; 
        display: inline;
    }
    .community-section {
        font-size: 14px;
    }
}

@media only screen and (max-width: 430px) {
    .all-comm-logos {
        text-align: center; 
    }
}
/* // END OF MEDIA QUERY IN THE COMMUNITY // */
  /* //////// ****** /////////////////////////// */