
.conferences-image{ background-image: url("../images/conferences.jpg"); height: 300px; background-repeat: no-repeat;}
/* //////// ****** /////////////////////////// */
/* // CONFERENCES LANDING PAGE  */ 
.conferences-header {
    font-family: 'Raleway'; 
    font-size: 40px; 
    font-weight: 300;
    margin-bottom: -1px; 
    margin-top: 10px; 
    padding-top: 50px; 
    text-align: center;
    letter-spacing: .7rem;
    color: black;
  }
  
  .conferences-section .container {
      font-family: 'Raleway'; 
      height: 100%;
      /* margin-top: 20px;  */
      padding: 60px; 
      margin-bottom: 40px; 
      color: black;
      /* border: 1px solid rgb(133, 133, 133); */
      /* background-color: rgb(243, 243, 243); */
  }
  
  .conferences-intro {
    font-family: 'Playfair Display', serif;
    font-weight: 450;
    font-size: 17.5px;
    text-align: justify;
    padding-bottom: 20px; 
  }

  .conferences-blurb {
      font-size: 16px;
      color: black; 
      margin-bottom: 10px;
  }

  .conferences-title {
      font-size: 18px; 
      color: #0066c8;
      font-weight: 500; 
      letter-spacing: .1em; 
  }

  .conferences-overview, .conferences-annual {
      background-color: rgb(140, 170, 20); 
      color: black;
      float: right; 
      padding: 10px; 
      margin-right: 10px; 
      margin-top: -20px; 
      width: 150px;
      font-size: 16px; 
      text-align: center; 
  }

  .conferences-overview:hover, .conferences-annual:hover {
      cursor: pointer; 
      background-color: rgb(123, 150, 18); 
  }

  .conferences-annual-section {
      display: none; 
  }
/* //////// ****** /////////////////////////// */
/* // END OF CONFERENCES LANDING PAGE */

 

/* //////// ****** /////////////////////////// */
/* // MEDIA QUERIES FOR CONFERENCES LANDING PAGE  */ 
@media only screen and (max-width: 750px) {
    .FAQ-header {
        margin-top: 65px;
        font-size: 29px; 
      }
}
/* //////// ****** /////////////////////////// */
/* // END OF MEDIA QUERIES FOR CONFERENCES LANDING PAGE */
  