
.whiteglobe-sub { background-image: url("../images/whiteglobe.jpg"); height: 300px; background-repeat: no-repeat;}
/* //////// ****** /////////////////////////// */
/* // FAQS LANDING PAGE  */ 
.FAQ-header {
    font-family: 'Raleway'; 
    font-size: 40px; 
    font-weight: 300;
    margin-bottom: -1px; 
    margin-top: 10px; 
    padding-top: 50px; 
    text-align: center;
    letter-spacing: .3rem;
    color: black;
  }
  
  .FAQ-section .container {
      font-family: 'Raleway'; 
      height: 100%;
      /* margin-top: 20px;  */
      padding: 60px; 
      margin-bottom: 60px; 
      color: black;
      /* border: 1px solid rgb(133, 133, 133); */
      /* background-color: rgb(243, 243, 243); */
  }
  
  .FAQ-question {
    color: #0066c8;
    font-weight: bold; 
    padding-bottom: 10px;
    font-size: 20px; 
  }

  .FAQ-response {
      font-size: 16px;
      color: black; 
      margin-bottom: 10px;
  }

  .FAQ-US, .FAQ-Non-US {
      background-color: rgb(140, 170, 20); 
      color: black;
      float: right; 
      padding: 10px; 
      margin-right: 10px; 
      margin-top: -2px; 
      width: 120px;
      font-size: 16px; 
      text-align: center; 
  }

  .FAQ-US:hover, .FAQ-Non-US:hover {
      cursor: pointer; 
      background-color: rgb(123, 150, 18); 
  }

  .Non-US-FAQ-section {
      display: none; 
  }
/* //////// ****** /////////////////////////// */
/* // END OF FAQS LANDING PAGE */

 

/* //////// ****** /////////////////////////// */
/* // MEDIA QUERIES FOR FAQ LANDING PAGE  */ 
@media only screen and (max-width: 750px) {
    .FAQ-header {
        margin-top: 65px;
        font-size: 29px; 
      }
}
/* //////// ****** /////////////////////////// */
/* // END OF MEDIA QUERIES FOR FAQ LANDING PAGE */
  