/* //////// ****** /////////////////////////// */
/* // KTMC INSIGHTS LANDING PAGE  */ 
.insights-section {
    color: black;
    font-size: 40px; 
    font-weight: 290;
    letter-spacing: .7rem;
    font-family: 'Raleway';
    text-align: center; 
    margin-top: 45px; 
    padding-top: 160px; 
  }
  
  .insights-blurb {
    color: black;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 400;
    text-align: center; 
    padding-top: 10px; 
  }
  
  #wrapper {
    width: 960px;
    margin: 0 auto;
  }
  
  #wrapper {
    perspective: 2500;
      -webkit-perspective: 2500;
      width: 800px;
      margin: 86px auto 150px auto;
    perspective-origin: 50% 150px;
      -webkit-perspective-origin: 50% 150px;
    transition: perspective, .5s;
    -o-transition: -o-perspective, .5s;
    -moz-transition: -moz-perspective, .5s;
      -webkit-transition: -webkit-perspective, .5s;
  }
  
  #image:hover {
    animation-play-state:paused;
    -o-animation-play-state:paused;
    -moz-animation-play-state:paused;
      -webkit-animation-play-state:paused;
  }
  
  @-webkit-keyframes spin {
      from {
      transform: rotateY(0);
      -o-transform: rotateY(0);
      -ms-transform: rotateY(0);
      -moz-transform: rotateY(0);
          -webkit-transform: rotateY(0);
      }
      to {
      transform: rotateY(-360deg);
      -o-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      -moz-transform: rotateY(-360deg);
          -webkit-transform: rotateY(-360deg);
      }
  }
  
  #image {
      margin: 0 auto;
      height: 300px;
      width: 300px;
    transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
    animation: spin 22s infinite linear;
    -moz-animation: spin 22s infinite linear;
    -o-animation: spin 22s infinite linear;
      -webkit-animation: spin 22s infinite linear;
  }
  
  .image {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 25px;
    background-color: black;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
    color: #fff;
  }
  
  #image, .image:hover {
    cursor: pointer; 
  }
  
  #image > .i1 {
    transform: translateZ(485px);
    -moz-transform: translateZ(485px);
    -o-transform: translateZ(485px);
    -ms-transform: translateZ(485px);
    -webkit-transform: translateZ(485px);
  }
  #image > .i2 {
    transform: rotateY(45deg) translateZ(485px);
    -moz-transform: rotateY(45deg) translateZ(485px);
    -o-transform: rotateY(45deg) translateZ(485px);
    -ms-transform: rotateY(45deg) translateZ(485px);
    -webkit-transform: rotateY(45deg) translateZ(485px);
  }
  #image > .i3 {
    transform: rotateY(90deg) translateZ(485px);
    -moz-transform: rotateY(90deg) translateZ(485px);
    -o-transform: rotateY(90deg) translateZ(485px);
    -ms-transform: rotateY(90deg) translateZ(485px);
    -webkit-transform: rotateY(90deg) translateZ(485px);
  }
  #image > .i4 {
    transform: rotateY(135deg) translateZ(485px);
    -moz-transform: rotateY(135deg) translateZ(485px);
    -o-transform: rotateY(135deg) translateZ(485px);
    -ms-transform: rotateY(135deg) translateZ(485px);
    -webkit-transform: rotateY(135deg) translateZ(485px);
  }
  #image > .i5 {
    transform: rotateY(180deg) translateZ(485px);
    -moz-transform: rotateY(180deg) translateZ(485px);
    -o-transform: rotateY(180deg) translateZ(485px);
    -ms-transform: rotateY(180deg) translateZ(485px);
    -webkit-transform: rotateY(180deg) translateZ(485px);
  }
  #image > .i6 {
    transform: rotateY(225deg) translateZ(485px);
    -moz-transform: rotateY(225deg) translateZ(485px);
    -o-transform: rotateY(225deg) translateZ(485px);
    -ms-transform: rotateY(225deg) translateZ(485px);
    -webkit-transform: rotateY(225deg) translateZ(485px);
  }
  #image > .i7 {
    transform: rotateY(270deg) translateZ(485px);
    -moz-transform: rotateY(270deg) translateZ(485px);
    -o-transform: rotateY(270deg) translateZ(485px);
    -ms-transform: rotateY(270deg) translateZ(485px);
    -webkit-transform: rotateY(270deg) translateZ(485px);
  }
  #image > .i8 {
    transform: rotateY(315deg) translateZ(485px);
    -moz-transform: rotateY(315deg) translateZ(485px);
    -o-transform: rotateY(315deg) translateZ(485px);
    -ms-transform: rotateY(315deg) translateZ(485px);
    -webkit-transform: rotateY(315deg) translateZ(485px);
  }
  
  img {
    border-radius: 25px;
  }

  .insights-text-section {
    font-size: 20px; 
    margin: auto; 
    /* border: 1px solid black;  */
    padding: 50px; 
    font-weight: 400;
    font-family: 'Raleway';
    letter-spacing: .2em; 
  }
 
  #row-1, #row-2, #row-3, #row-4, #row-5 {
    margin-left: 5px; 
  }

  #row-1:hover, #row-2:hover, #row-3:hover, #row-4:hover, #row-5:hover {
    margin: 0 auto; 
    cursor: pointer; 
    color: rgb(4, 113, 223);
  }

  #download {
    font-size: 18px;
  }

  .fa-download {
    color: rgb(218, 214, 214); 
  }

/* //////// ****** /////////////////////////// */
/* // END OF KTMC INSIGHTS LANDING PAGE */
  

/* //////// ****** /////////////////////////// */
  /* // KTMC insights newsletter viewpoint queries  */
  @media only screen and (max-width: 430px) {
    .insights-section {
      font-size: 45px;
      font-family: Raleway; 
    }
  
    .insights-blurb {
      font-size: 14px;
      font-family: Raleway; 
    }
    #wrapper {
      display: none;
    }
    .insights-text-section {
      font-size: 13px; 
  }
}
  
  @media only screen and (max-width: 850px) {
    .insights-section {
      font-size: 50px;
      padding-top: 100px; 
    }
  
    .insights-blurb {
      font-size: 18px;
    }
    #wrapper {
      display: none;
    }
    .insights-text-section {
      font-size: 14px; 
  }
  }
  /* // end of KTMC insights newsletter viewpoint queries */
  /* //////// ****** /////////////////////////// */
  