html {
    scroll-behavior: smooth;
  }
  
  /* //////// ****** /////////////////////////// */
  /* // NAV & HEADER // */
  .header-wrapper {
    width: 100%;
    position: relative;
    margin-top: -8px;  
  }
  .fa-bars {
   visibility: hidden;
  }
  #header-title {
    position: absolute;
    width: 45vw;
    margin-top: 40%;
    margin-left: 6.5%;
  }
  .trailblazers-line1 {
    font-family: 'Playfair Display', serif;
    font-size: 90px; 
    text-align: center; 
    position: absolute; 
    color: rgb(56, 56, 56);
    /* color: white;  */
    margin-top: 20%;
    margin-left: 19%;
    z-index: 3; 
  }
  .trailblazers-line2 {
    font-family: 'Playfair Display', serif;
    font-size: 90px; 
    text-align: center; 
    position: absolute; 
    color: black;
    /* color: rgb(163, 163, 163);  */
    margin-top: 25.5%;
    margin-left: 25%;
    z-index: 3; 
  }
  #logo-main {
    margin-top: .5em;
    margin-left: 1em; 
    width: 325px;
    border-radius: 0; 
    z-index: 4; 
    position: absolute;  
    padding-bottom: 10px; 
  }

  #ST-logo-main {
    z-index: 3; 
  }

  #ST-logo-main:hover {
    cursor: pointer; 
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .navigation{
    padding-bottom:30px;
    padding-right: 10px; 
    position:absolute;
    top:0;
    width:100%;
    z-index:4;
  }

  .fa-bars {
    padding-bottom:30px;
    padding-right: 10px; 
    margin-left: 92%;
    position:absolute;
    top: 4%;
    font-size: 28px;
    color: white;
    width:100%;
    z-index:4;
  }


  .navbar-right{
    float:right;
    word-spacing: 20px; 
    letter-spacing: .1em; 
    /* background-color: black;  */
    padding: 28px; 
    opacity: 0.91; 
  }
  #practice-areas {
    word-spacing: 3px; 
  }

  .navbar-right a{
    text-decoration: none;
    font-size: 15.5px; 
    padding:10px;
    color: black;
    font-family: 'Raleway';
    font-weight: thin; 
  }
  .navbar-right a:hover{
     background-color: rgb(151, 184, 19); 
     color: rgb(49, 49, 49); 
     /* background-color: rgb(39, 143, 212);  */
  }
  .header-wrapper {
    width: 100%;
    position: relative;
    margin-top: -7px;  
  }
  #header-title {
    position: absolute;
    width: 45vw;
    margin-top: 40%;
    margin-left: 6.5%;
  }
  /* //////// ****** /////////////////////////// */
    /* // END NAV & HEADER // */
  

  /* //////// ****** /////////////////////////// */
  /* // NAV BAR DROP DOWN */
  .dropdown {
    color: black;
    z-index: 4; 
    padding: 6px; 
  }
  ul{
    padding: 0;
    list-style: none;
    color: rgb(49, 49, 49); 
  }
  ul li{
    display: inline-block;
    position: relative;
    line-height: 18px;
    text-align: left;
    color: black;
  }
  ul li a{
    display: block;
  }
  ul li a:hover{
  background-color: rgb(151, 184, 19); 
  }
  ul li ul.dropdown{
    min-width: 175px; /* Set width of the dropdown */
    background-color: black;
    padding: 6px; 
    word-spacing: 0px; 
    display: none;
    position: absolute;
    z-index: 5; 
    left: 0;
  }
  ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
  }
  ul li ul.dropdown li{
    display: block;
  }
  /* // END OF NAV BAR DROPDOWN */
  /* //////// ****** /////////////////////////// */
  
  
  
  /* //////// ****** /////////////////////////// */
  /* // MEDIA QUERY FOR LOGO */
  @media only screen and (max-width: 430px) {
    #logo-main {
      width: 115px; 
      margin-left: .5em;
    }
    #logo-ST {
        margin-top: 3em;
        width: 90px;
      }
    }
  @media only screen and (max-width: 750px) {
    #logo-main {
      width: 180px; 
      margin-left: .6em;
    }
    #logo-ST {
      margin-top: 6.5em;
      width: 140px;
    }
  }
  @media only screen and (max-width: 1035px) {
    #logo-main {
      width: 215px; 
    }

  }
  /* // END OF MEDIA QUERY FOR LOGO */
 /* //////// ****** /////////////////////////// */


 
 /* //////// ****** /////////////////////////// */
/* MEDIA QUERY FOR HEADER AND TRAILBLAZERS LINES  */
  @media only screen and (max-width: 768px) {
  #header-title {
    position: absolute;
    width:65vw;
    margin-top: 35%;
    margin-left: 6.5%;
    } 
  }
  @media only screen and (max-width: 1035px) {
  .trailblazers-line1 {
  font-size: 60px;
  margin-left: 17%;
    }
  .trailblazers-line2 {
  font-size: 60px; 
  margin-left: 23%;
    }
  }
  @media only screen and (max-width: 768px) {
    .trailblazers-line1 {
    font-size: 43px;
    margin-left: 20%;
    margin-top: 14%; 
    }
    .trailblazers-line2 {
    font-size: 43px; 
    margin-left: 25%;
    margin-top: 19%;
      }
    }
  @media only screen and (max-width: 615px) {
    .trailblazers-line1 {
    font-size: 40px;
    margin-left: 13%;
    margin-top: 26%; 
    }
      
    .trailblazers-line2 {
      font-size: 40px; 
      margin-left: 18%;
      margin-top: 33%;
    }
      }
  @media only screen and (max-width: 430px) {
    .trailblazers-line1 {
    font-size: 35px;
    margin-left: 10%;
  }  
  .trailblazers-line2 {
    font-size: 35px; 
    margin-left: 15%;
  }
  }
  @media only screen and (min-width: 1700px) {
    .trailblazers-line1 {
      font-size: 120px;
      margin-left: 26%;
  }
      
    .trailblazers-line2 {
      font-size: 120px; 
      margin-top: 26%;
      margin-left: 31%;
    }
  }
  @media only screen and (max-width: 1280px) {
    .navigation {
      display: none;
    }

  .fa-bars {
    visibility: visible;
  }
  .fa-bars:hover {
    cursor: pointer; 
  }
}

  @media only screen and (max-width: 1420px) {
    #logo-main {
      width: 220px; 
    }
  }
  /* END OF MEDIA QUERIES  */
  /* //////// ****** /////////////////////////// */
  
  /* //////// ****** /////////////////////////// */
  /* // BEGINNING OF ARROW */
    .fa-chevron-down {
      color: white;
      z-index: 4; 
      top: 80%; 
      position: absolute; 
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      -moz-animation: bounce 3s infinite;
      -webkit-animation: bounce 3s infinite;
      animation: bounce 3s infinite;
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      cursor: pointer; 
    }
    @keyframes bounce {
      from,
      20%,
      53%,
      80%,
      to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    
      40%,
      43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
      }
    
      70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
      }
    
      90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
      }
    }
    /* // END OF ARROW  */
    /* //////// ****** /////////////////////////// */
 
  