  /* //////// ****** /////////////////////////// */
  /* // BEGINNING OF OFFICE LOCATIONS PAGE // */
  .offices-header {
    font-family: 'Raleway'; 
    font-size: 40px; 
    font-weight: 300;
    margin-bottom: 15px; 
    margin-top: 160px; 
    padding-top: 50px; 
    text-align: center;
    letter-spacing: .7rem;
    color: black;
  }


  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card {
     flex: 1;
     border: 1px solid rgba(160,160,160,0.2);
     font-family: 'Raleway'; 
     margin: 20px;
     border-radius: 0 0 2px 2px;
     min-width: 200px;
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
  
  .card-content {
    padding: 16px;
    font-size: 16px; 
  }
  
  .card-image {
    overflow: hidden;
    height: 230px; 
  }
  
  img {
    width: 100%;
  }
  
  .card-title {
    margin: 0;
    padding-bottom: 8px; 
    color: #0066c8;
    letter-spacing: 1px; 
    font-family: 'Playfair Display', serif;
    font-weight: 450;
  }
  
  ul, nav{
      list-style: none;
  }
  
  a{
      text-decoration: none;
      color: inherit;
      cursor: pointer;
  
      opacity: 0.9;
  }
  
  a:hover{
      opacity: 1;
  }
  /* //////// ****** /////////////////////////// */
  /* // END OF OFFICE LOCATIONS PAGE // */

  
/* // MEDIA QUERY OFFICE LOCATIONS PAGE  // */
@media only screen and (max-width: 750px) {
    .offices-header {
      font-size: 30px; 
      padding-top: 0px;
    }
}
  /* // END OF MEDIA QUERY OFFICE LOCATIONS PAGE// */
  /* //////// ****** /////////////////////////// */

  /* Reset. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Panels. */
.splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  overflow: hidden;
}

  .panel .content {
      position: absolute;
      width: 100vw;
      min-height: 45vw;
      color: #FFF;
  }

  .panel .description {
      width: 25%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
  }

  .panel img {
      box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
      width: 35%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }


.bottom {
  background-color: rgb(44, 44, 44);
  z-index: 1;
}

  .bottom .description {
      right: 5%;
  }

.top {
  background-color: rgb(77, 69, 173);
  z-index: 2;
  width: 50vw;

  /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

  .top .description {
      left: 5%;
  }

/* Handle. */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
  body {
      font-size: 75%;
  }
}