.whiteglobe-sub { background-image: url("../images/whiteglobe.jpg"); height: 300px; background-repeat: no-repeat;}
/* //////// ****** /////////////////////////// */
  /* // BEGINNING OF OVERVIEW PAGE  // */
  .overview-header {
    font-family: 'Raleway'; 
    font-size: 40px; 
    font-weight: 290;
    margin-bottom: -20px; 
    margin-top: 10px; 
    padding-top: 50px; 
    text-align: center;
    letter-spacing: .7rem;
    color: black;
  }
  
  .overview-section .container {
    font-family: 'Raleway'; 
    height: 100%;
    /* margin-top: 20px;  */
    padding: 60px; 
    margin-bottom: 60px; 
    color: black;
    /* border: 1px solid rgb(184, 184, 184); */
    /* background-color: rgb(243, 243, 243); */
}

.overview-subheader {
    font-family: 'Playfair Display', serif;
    font-weight: 450;
    font-size: 17.5px;
    text-align: justify;
    padding-bottom: 25px; 
}

.overview-subheader2 {
     color: rgb(140, 170, 20); 
    /* font-family: 'Playfair Display', serif; */
    font-weight: 500;
    font-size: 19px;
    letter-spacing: .1em; 
    padding-bottom: 15px; 
}
  /* //////// ****** /////////////////////////// */
  /* // END OF OVERVIEW PAGE  // */