.people-LP-sub { background-color: rgb(34, 34, 34); height: 550px; background-repeat: no-repeat;}
.people-LP-name {
    font-family: 'Raleway'; 
    font-size: 44px; 
    font-weight: 300;
    margin-bottom: -15px; 
    /* margin-top: 10px;  */
    margin-top: 160px; 
    padding-top: 50px; 
    float: left; 
    letter-spacing: .4rem;
    color: white;
  }

  #people-img {
      float: right; 
      margin-top: 160px;
  }



  #side-text-practice u {
      color: rgb(4, 113, 223);
  }

#side-text-education u {
    color: rgb(4, 113, 223);
}

#side-text-admissions u {
    color: rgb(4, 113, 223);
}

  .people-LP-title {
      float: left; 
      color: rgb(151, 184, 19); 
      font-size: 21px;
  }

  .people-LP-phone {
    float: left; 
    color: white;
    font-size: 17px;
    letter-spacing: .14rem;
  }

  .people-LP-section {
    color: black;
      font-family: 'Raleway'; 
      margin-top: 60px; 
  }

  #side-text-practice {
      font-size: 15.5px; 
      line-height: 30px;  
  }

  #side-text-education {
    font-size: 15.5px; 
    line-height: 30px; 
}

#side-text-admissions {
    font-size: 15.5px; 
    line-height: 30px; 
}

#tabs {
    color:white;
}

#tabs:hover {
    cursor: pointer;
    color:rgb(151, 184, 19)
}

#experience-preview {
    display: none; 
}

/* #related-cases {
    margin-top: 60px; 
    letter-spacing: 5px;
    border: 1px solid black; 
    font-size: 16px;
    padding: 25px; 
    width: 260px;
    text-align: center; 
}

#related-cases:hover {
    cursor: pointer; 
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
} */