/* //////// ****** /////////////////////////// */
/* // BEGINNING OF SOCIAL MEDIA BUTTONS */
#social {
    text-align: center;
    padding-top: 35px; 
    padding-bottom: 35px; 
    background-color: none;
  }

  #social1 {
    text-align: center;
    padding-top: 35px; 
    padding-bottom: 35px; 
    background-color: rgb(247, 247, 247);;
  }
  
  
  .smGlobalBtn { /* global button class */
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 50px;
      height: 50px;
      padding: 0px;
      text-decoration: none;
      text-align: center;
      margin-bottom: -30px;
      color: #fff;
      background-color: none;
      font-size: 25px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 27px;
      -moz-border-radius:27px;
      -webkit-border-radius:27px;
  }

  .smGlobalBtn:hover {
    color: rgb(20, 20, 20);
    border-color: rgb(142, 177, 37);  /* change the border color on mouse hover */
    text-decoration: none; 
  }
  
  /* facebook button class*/
  .facebookBtn{
    color: rgb(2, 113, 224);
  }
  
  .facebookBtn:before{ /* use :before to add the relevant icons */
      font-family: "FontAwesome";
      content: "\f09a"; /* add facebook icon */
  }
  
  .facebookBtn:hover{
    color: rgb(4, 92, 180);
  }
  
  /* twitter button class*/
  .twitterBtn{
    color: rgb(2, 113, 224);
  }
  
  .twitterBtn:before{
        font-family: "FontAwesome";
        content: "\f099"; /* add twitter icon */
        
  }
  
  .twitterBtn:hover{
    color: rgb(4, 92, 180);
  }
  
  /* google plus button class*/
  .googleplusBtn{
      background: black;
  }
  
  .googleplusBtn:before{
        font-family: "FontAwesome";
        content: "\f0d5"; /* add googleplus icon */
  }
  
  .googleplusBtn:hover{
    color: #056dcf;
  }

  .fa-instagram {
    color: rgb(2, 113, 224);
    font-size: 22px; 
  }

  .fa-instagram:hover{
    color: rgb(4, 92, 180);
  }
  
  /* linkedin button class*/
  .linkedinBtn{
    color: rgb(2, 113, 224);
  }
  
  .linkedinBtn:before{
        font-family: "FontAwesome";
        content: "\f0e1"; /* add linkedin icon */
  }
  
  .linkedinBtn:hover{
    color: rgb(4, 92, 180);
  }
  
  #allRights {
    font-size: 10px;
    color: black;
    padding-top: 15px; 
  }

  #offices1 {
    font-size: 10px;
    color: black;
  }

  #offices1:hover {
    cursor: pointer; 
    color: rgb(142, 177, 37);  
  }


  #offices2 {
    font-size: 10px;
    color: black;
  }

  #offices2:hover {
    cursor: pointer; 
    color: rgb(142, 177, 37);  
  }
  


  
/* // END OF SOCIAL MEDIA BUTTONS */
/* //////// ****** /////////////////////////// */

@media only screen and (max-width: 750px) {
#social {
  padding-top: 250px; 
}
}



