.sustainability-image { background-image: url("../images/sustainability.jpg"); height: 300px; background-repeat: no-repeat;}
/* //////// ****** /////////////////////////// */
  /* // BEGINNING OF SUSTAINABILITY PAGE  // */
  .sustainability-header {
    font-family: 'Raleway'; 
    font-size: 40px; 
    font-weight: 290;
    margin-bottom: -20px; 
    margin-top: 10px; 
    padding-top: 50px; 
    text-align: center;
    letter-spacing: .7rem;
    color: black;
  }
  
  .sustainability-section .container {
    font-family: 'Raleway'; 
    height: 100%;
    padding: 60px; 
    margin-bottom: 60px; 
    color: black;
    /* border: 1px solid rgb(184, 184, 184); */
    /* background-color: rgb(243, 243, 243); */
}

.sustainability-subheader {
  font-family: 'Playfair Display', serif;
  font-weight: 450;
  font-size: 17.5px;
  text-align: justify;
  padding-bottom: 25px; 
}

  /* //////// ****** /////////////////////////// */
  /* // END OF SUSTAINABILITY PAGE  // */