
  
  .whiteglobe-sub { background-image: url("../images/whiteglobe.jpg"); height: 300px; background-repeat: no-repeat;}
  /* //////// ****** /////////////////////////// */
  
  .videos-header {
    font-size: 40px;
    width: 100%; 
    letter-spacing: .7rem;
    font-family: 'Raleway';
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 40px;
}
/* p {
  text-align: center;
}
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}


.contain {
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
}
.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 150.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 150.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}



 */



 
.video-sec-wrap {
	width: 100%;
	min-height: 100vh;
}
.video-sec {
	width: 85%;
	margin: 3em auto;
	border-bottom: 2px solid #353535;
	text-align: left;
}
.video-sec-middle {
	grid-template-columns: repeat(5,1fr);
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-rows: auto;
	grid-row-gap: 15px;
	grid-column-gap: 10px;
	padding: 20px 0;
}
.thumb-wrap {
	display: inline;
	cursor: pointer;
}
.thumb {
	display: block;
	margin: .4em;
	width: 100%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	opacity: 1;
	transition: all .2s ease-in-out;
}
.thumb:hover {
	opacity: .8;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}
.thumb-info {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: .4em;
}
.thumb-title {
    color: black;
    font-family: 'Raleway'
;	margin: 0;
	font-size: 1em;
}
.thumb-user {
	color: #7e7e7e;
	display: block;
	margin: 0;
	font-size: .9em;
}
.thumb-text {
	color: #7e7e7e;
	display: inline-block;
	margin: 0;
	font-size: .8em;
}
.video-sec-title {
	font-weight: bolder;
	font-size: 1.4em;
	color: black;
	margin: 5px 0 10px 10px;
}
.video-showmore {
	font-weight: bold;
	font-variant: all-petite-caps;
	display: block;
	color: #7e7e7e;
	padding: 10px;
	font-size: 1.2em;
}
@media only screen and (max-width: 1456px) {
	.video-sec-middle {
		grid-template-columns: repeat(4,1fr);
	}
}
@media only screen and (max-width: 1024px) {
	.video-sec-middle {
	  grid-template-columns: repeat(3,1fr);
	}
}
@media only screen and (max-width: 756px) {
  .video-sec-middle {
   grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 496px) {
  .video-sec-middle {
   grid-template-columns: repeat(1,1fr);
  }
}







.soike-page-header {
    margin: 30px 0 15px 0;
  }
  
  .soike-page-title,
  #content .soike-page-title {
    margin: 0 0 5px 0;
    padding: 5px;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #b8b8b8;
  }
  
  .soike-page-description {
    margin: auto;
    padding: 5px;
    max-width: 500px;
    text-align: center;
  }
  
  .soike-video-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 0 10px 40px 10px;
  }
  
  .soike-video-card {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 48%;
    max-width: 48%;
    min-width: 300px;
    margin: 1%;
    /* border: 1px solid; */
    background-color: whitesmoke;
  }
  
  .soike-video-iframe-wrapper {
    position: relative;
    width: 100%; 
    padding-bottom: 56%; /* make height 56% of width */
    margin: auto; /* center if width < 100% */
  }
  
  .soike-video-iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
  }
  
  .soike-video-card-description {
    flex: 1;
    display: flex;
    font-family: 'Raleway';
    font-size: 16px; 
    flex-direction: column;
    color: black;
    padding: 10px 15px;
    text-align: center;
  }
  
  .soike-video-card-description p {
    margin: auto;
    line-height: 1.5;
  }
  
  .soike-in-line-text-button {
    margin: auto;
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    color: #46b8da;
    background-color: transparent;
    border: 1px solid;
    border-radius: 3px;
    border-color: #46b8da;
    padding: 1px 5px;
  }
  
  .soike-in-line-text-button:hover {
    text-decoration: none;
    color: #23527c;
    border-color: #23527c;
  }
  
  /* necessary? */
  .left .text-full #main {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  
  /* headers */
  h1, h2, h3, h4, h5, h6 {
    font-family: Josefin Sans;
    color: #666666;
  }
  
  /* stories page - tile grid */
  #page-stories #content .group.tile {
    padding-top: 5px;
  }
      
  /* stories page - image titles on hover */
  #page-stories .group.tile .details h4 span {
    display: block;
    font-size: .6em;
    margin: 3px 0; 
  }